body {
    background-color: indianred;
    font-family: 'monospace', Courier, monospace;
}

.container {
    margin-top: 5vh;
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    flex-direction: column;
    border: 1px solid darkslategray;
    background-color: darkslategray;
    width: 40%;
    border-radius: 25px;
    padding: 0.5rem;
    text-align: center;
}



.item_label {
    margin-left: 2rem;
    display: flex;
    font-size: 2rem;
    margin-top: 2vw;
    margin-bottom: 0.5vw;
    text-align: center;
    color: antiquewhite;
}

.item {
    background-color: antiquewhite;
    flex-direction: column;
    text-align: Start;
    width: 90%;
    height: 2rem;
    padding: 0.2rem;
}

.button {
    color: black;
    background-color: antiquewhite;
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 0.6rem;
}

.button:hover {
    color: antiquewhite;
    background-color: indianred;
}

.sign_up {
    font-size: 3rem;
    font-weight: bold;
}

.text {
    font-size: 1rem;
    text-align: start;
    margin-bottom: 2rem;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: purple;
    text-decoration: underline;
}



